// Шрифты
@font-face {
	font-family: "Muller-Reg";
	src: url("../fonts/Muller/Regular/MullerRegular.eot");
	src: url("../fonts/Muller/Regular/MullerRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Muller/Regular/MullerRegular.woff2") format("woff2"),
		url("../fonts/Muller/Regular/MullerRegular.woff") format("woff"),
		url("../fonts/Muller/Regular/MullerRegular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Muller-Bold";
	src: url("../fonts/Muller/Bold/MullerBold.eot");
	src: url("../fonts/Muller/Bold/MullerBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Muller/Bold/MullerBold.woff2") format("woff2"),
		url("../fonts/Muller/Bold/MullerBold.woff") format("woff"),
		url("../fonts/Muller/Bold/MullerBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Muller-XBold";
	src: url("../fonts/Muller/ExtraBold/MullerExtraBold.eot");
	src: url("../fonts/Muller/ExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Muller/ExtraBold/MullerExtraBold.woff2") format("woff2"),
		url("../fonts/Muller/ExtraBold/MullerExtraBold.woff") format("woff"),
		url("../fonts/Muller/ExtraBold/MullerExtraBold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@mixin regular {
	font-family: "Muller-Reg";
}
@mixin bold {
	font-family: "Muller-Bold";
}
@mixin xbold {
	font-family: "Muller-XBold";
}
//// Конец шрифтов
// Переменные
$main_color: #000b30;
$text_color: #000000;
$note_color: #88c4ff;
//// Конец переменных
// Базовые стили
body {
	@include regular;
	font-size: 16px;
	color: $text-color;
}
.container {
}
section {
	padding: 35px 0;
}
input,
button,
a,
textarea {
	&:focus {
		outline: none;
	}
}
textarea {
	resize: none;
}
//// Конец базовых стилей
// Услуги
.section {
	&-header {
		position: relative;
	}
	&-title {
		@include xbold;
		font-style: normal;
		font-size: 36px;
		line-height: 125%;
		letter-spacing: 0.11em;
		text-transform: uppercase;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			display: block;
			right: 100%;
			margin-right: 5px;
			top: 40%;
			height: 1px;
			width: 5%;
			background: rgba(0, 0, 0, 0.25);
		}
		&_reg {
			@include regular;
		}

		&_bold {
			@include xbold;
		}
	}
	&-subtitle {
		height: 95px;
		width: 65%;
		position: relative;
		&-text {
			display: inline-block;
			vertical-align: top;
			height: 100%;
			margin-bottom: 0;
			margin-left: 20px;
			font-size: 20px;
			line-height: 150%;
		}
		&:before {
			content: "";
			line-height: 150%;
			top: 50%;
			transform: translateY(-55%);
			display: inline-block;
			position: absolute;
			width: 11px;
			height: 87%;
			background-color: $note_color;
		}
	}
	&-number {
		position: absolute;
		left: -7%;
		top: 5px;
		&-text {
			display: inline-block;
			font: {
				family: sans-serif;
				weight: 750;
				size: 16px;
			}
			line-height: 1;
			transform: rotate(-90deg);
		}
	}
}
.research__row {
	margin-left: -9px;
	margin-top: 24px;
	display: flex;
	flex-wrap: wrap;
}
.research__block {
	transition: all 0.5s ease;
	&:hover {
		.research__icon {
			svg path {
				stroke: white;
				stroke-width: 4;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
		.research__title {
			@include xbold;
			color: white;
		}
		.research__text {
			color: white;
		}

		background: $main_color;
	}
	margin: 3px;
	width: 32%;
	height: 254px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.copy1 {
}
.copy4 {
	margin-left: 204px;
}
.research__item {
}
.research__item__row {
	display: flex;
}
.research__body {
	height: 240px;
}
.body1 {
}
.research__title {
	transition: all 0.5s ease;
	padding-top: 11px;
	padding-left: 21px;
	@include xbold;
	text-transform: uppercase;
}
.research__text {
	transition: all 0.5s ease;
	padding-left: 21px;
	padding-top: 10px;
}
.research__icon {
	margin-top: 176px;
	margin-right: 20px;
}
.icon1 {
}
.icon2 {
}
//Услуги

//media
@media (max-width: 1200px) {
	.container {
	}
	span {
		margin-left: -9px;
	}
	.title {
		margin-left: -8px;
	}
	.research__text {
		@include bold;
		transition: all 0.5s ease;
		padding-left: 21px;
		padding-top: 22px;
		width: 85.3%;
	}
	.research__icon {
		position: absolute;
		padding-left: 220px;
	}
	.icon2 {
		padding-top: 5px;
	}
	.icon4 {
		padding-left: 210px;
	}
	.icon5 {
		padding-left: 219px;
	}
}

@media (max-width: 992px) {
	.section {
		&-subtitle {
			p {
				text-align: justify;
			}
			border: 4px solid $note_color;
			width: 99%;
			padding: 3% 5% 3% 1%;
			height: 100%;
			&:before {
				content: "";
				display: none;
			}
		}
	}
	.section-number-text {
		margin-top: 22px;
	}
	.slick-list {
		display: block;
		height: 260px;
	}
	.section-header {
	}
	.copy4 {
		margin-left: 4px;
	}
	.research__icon {
		position: absolute;
		padding-left: 7.45%;
		margin-top: 2.1%;
	}
	.icon5 {
	}
	.research__row {
	}
	.research__text {
		width: 100%;
		font-size: 19px;
	}
}

@media (max-width: 576px) {
	.section {
		&-subtitle {
			p {
				font-size: 15px;
				text-align: justify;
			}
			border: 4px solid $note_color;
			width: 99%;
			padding: 3% 5% 3% 1%;
			height: 100%;
			&:before {
				content: "";
				display: none;
			}
		}
	}
	.section-title {
		margin-left: 20px;
		span {
			margin-left: -1px;
			display: flex;
		}
		font-size: 18px;
	}
	span {
		margin-left: 10px;
	}
	.title {
		margin-left: 30px;
	}
	.research__block {
	}
	.research__icon {
		padding: 1% 0% 0px 6.6%;
	}
	.icon4 {
		padding-top: 1%;
		padding-left: 6.455%;
	}
	.icon2,
	.icon3 {
		padding-top: 1%;
		padding-left: 6.8%;
	}
	.research__text {
		width: 70%;
		line-height: 20px;
		@include xbold;
		font-size: 100%;
		padding-top: 10px;
	}
	.research__body {
		width: 100%;
	}
	.research__item__row {
		flex-wrap: nowrap;
		height: 250px;
	}

	.research__block {
		width: 100%;
		margin-left: 2px;
	}
}

/*@media (min-width: 575.9px) {
	.container {
	}
	span {
		margin-left: 50px;
	}
	.title {
		margin-left: 60px;
	}
	.research__icon {
		padding: 0px 0% 0px 7.33%;
	}
	.research__text {
		width: 80%;
		@include xbold;
		font-size: 20px;
	}
	.research__body {
		width: 100%;
		height: 700px;
	}
	.research__item__row {
		display: flex;
		flex-wrap: wrap;
	}
	.section-title_reg {
		max-width: 70%;
		line-height: 40px;
		margin-left: 60px;
	}
	.section-title_bold {
		margin-left: -10px;
	}
	.section-number-text {
	}
	.title__text {
		margin-top: -20px;
	}

	.research__block {
		width: 100%;
		margin-left: 2px;
	}
}
*/
//media
//// Конец элементов
